body {
    background-color: rgb(43, 43, 43);
}
#search {
    position: relative;
    right: 35%;
    max-width: 500px;
}

#btn {
    position: relative;
    right: 35%;
}

#point:hover {
    cursor: pointer;
}

#img {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    left: 190px;

}
.icon {
    position: relative;
    right: 5%;
    color: white;
    width: 100px;
}

.icon i {
    color: chocolate;
}
.card-text {
    margin-top: 10px;
}

#creative {
    max-width: 550px;
    height: 300px;
    position: relative;
    left: 35%;
    top: 30px;
    text-align: center;
    background-color: #212529;
    color: azure;
}

#creative h3 {
    text-transform: uppercase;
}

#img1 {
    max-width: 30px;
    max-height: 30px;
    position: relative;
    bottom: 7px;
    right: 15px;
}

.table {
    margin-top: 10px;
    width: 550px;
    position: relative;
    left: 35%;
    border: 1px solid rgb(43, 43, 43);
    background-color: #212529;
    color: azure;
    border-radius: 10px;
}

.thead-dark th {
    padding: 5px 20px;
}

.table tbody {
    text-align: left;
}

tbody tr {
    margin-top: 15px;
}
#desc{
    text-transform: uppercase;
    color: azure;
}

@media screen and (max-width:1450px) {
    #search{width:300px;}  
}

@media screen and (max-width:1150px) {
    #search{width:200px;}    
}